@font-face {
    src: url("/PressStart2P-Regular.ttf");
    font-family: "PS2P";
}
* {
    font-family: "PS2P", monospace;
    box-sizing: border-box;
    -webkit-appearance: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/9afe0493484903.5e66500f8dea4.gif") no-repeat center;
    background-size: cover;
}

.wrapper {
    height: 100%;
    animation-name: blackout;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    display: flex;
}

.center {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    animation-name: fadeIn;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.title {
    color: white;
    font-size: xx-large;
    font-weight: 800;
    letter-spacing: 7px;
    display: block;
}

.sub {
    padding-top: 10px;
    color: #a7a7a7;
    font-size: large;
    display: block;
}

.links {
    opacity: 0;
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 100%;
    color: white;
    animation-name: fadeIn;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    line-height: 25px;
}

a:active,
a {
    text-decoration: none;
    color: white;
    font-size: large;

}
a div {
    display: inline;
    border-bottom: 2px solid white;
    transition: .1s;
}
a div:hover {
    font-size: x-large;
    transition: .1s;
    color: #fcaaa5;
    padding-bottom: 2px;
    border-bottom: 2px orange solid
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blackout {
    from {
        background: rgba(0, 0, 0, 0);
    }
    to {
        background: rgba(0, 0, 0, 0.4);
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: -1500px;
    }
    100% {
        background-position: 0 0;
    }
}